.recovery-container {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #011B2C, #03346E);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin-right:20px;
    padding: 80px 80px;
    padding-left: 30px;

}
.raqmiya-text {
    color: #A1E3F9;
    }
.text3 {
    font-size: 16px;
    margin-bottom: 1px;
    color: #FFFFFF99;
    }
.recovery-form {
    background-color: transparent;
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    margin-top: -13px;
}


.recovery-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #03346E;
    color: white;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-buttons button:first-of-type {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.form-buttons button:last-of-type {
    background-color: #A1E3F9;
    color: #03346E;
}
